<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-cardSwiper" version="1.0.0" 
	xmlns="http://apache.org/cordova/ns/plugins/1.0" 
	xmlns:android="http://schemas.android.com/apk/res/android">
	<name>CardSwiper</name>
	<js-module name="CardSwiper" src="www/CardSwiper.js">
		<clobbers target="CardSwiper" />
	</js-module>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="CardSwiper">
				<param name="android-package" value="cordova.plugin.cardSwiper.CardSwiper" />
			</feature>
		</config-file>
		<config-file parent="/*" target="AndroidManifest.xml" />
		<source-file src="src/android/CardSwiper.java" target-dir="src/cordova/plugin/cardSwiper/CardSwiper" />
	</platform>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="CardSwiper">
				<param name="ios-package" value="CardSwiper" />
			</feature>
		</config-file>
		<source-file src="src/ios/CardSwiper.m" />
	</platform>
</plugin>